<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Lost Item</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="report-page">
        <h2>Report Lost Item</h2>
         <form method="POST" class="center-form">
            <input type="text" name="item_name" placeholder="Item Name" required>
            <input type="text" name="description" placeholder="Description">
            <input type="text" name="location" placeholder="Location" required>
            <input type="date" name="date" required>
            <input type="text" name="contact" placeholder="Contact" required>
            <button type="submit" class="button">Report Lost Item</button>
        </form> 

        